@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Poppins:wght@700&display=swap');
* {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 15px;
  left: 0;
  top: 0;
  background-color: #ec0344;
}
container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 8px;
  position: absolute;
  width: 280.25px;
  height: 32px;
  left: 305px;
  top: 75px;
}
.HeaderLogo {
  position: absolute;
  left: -5.36%;
  right: -17.86%;
  top: 12.5%;
  bottom: 15.62%;
}
.HeaderTexto {
  position: static;
  width: 225px;
  height: 32px;
  color: #ec0344;
  left: 47.25px;
  top: 0px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 32px;
  display: flex;
  align-items: center;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0 16px;
}
.containerDireito {
  position: absolute;
  width: 39px;
  height: 27px;
  left: 700px;
  top: 0px;
}
